
@{
    ViewBag.Title = "Index";
}

  <!-- Help -->
<div class="col-md-12 section" id="help">
    <h1>Help</h1>
    <p class="lead">
        <b>Firstly, do you have an account?</b><br />
        If you don’t have an account, sign up <a href="#services">here</a>. After signing up, you can use the credentials to login into the system next time you access the website.<br><br />
        <b>After logging in..</b><br />After logging into the system, you will see a menu with the options ‘Upload’, ‘View’, ‘Predict Sales’, ‘Logout’.<br />
    </p>
    <ul>
        <li>
            <h3>Upload</h3>
            <p class="lead">
                You can use this option to upload your business data to the system. To do this, download the .csv file template that is provided <a href="~/FIles/Template.csv" download>here</a> and fill in the sales data for past dates in the columns provided. Save the file and upload it to the system <a href="/Services">from here</a>.
            </p>
        </li>
        <li>
            <h3>View</h3>
            <p class="lead">You can use this option to view the business data that is previously uploaded to the system, if any.</p>
        </li>
        <li>
            <h3>Predict Sales</h3>
            <p class="lead">You can use this option to get the prediction of sales based on the expected weather. To do this, <a href="/Services">go to services</a>.</p>
        </li>
        <li>
            <h3>Logout</h3>
            <p class="lead">You can use this option to logout of the system anytime.</p>
        </li>
    </ul>
</div>
<hr />

