USE [master]
GO
/****** Object:  Database [SkyGraph]    Script Date: 11/23/2015 23:16:06 ******/
CREATE DATABASE [SkyGraph]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SkyGraph', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SkyGraph.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SkyGraph_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SkyGraph_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SkyGraph].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SkyGraph]
GO
/****** Object:  Table [dbo].[LoginDetails]    Script Date: 11/23/2015 23:16:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoginDetails](
	[Userid] [varchar](100) NULL,
	[Password] [varchar](100) NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[City] [varchar](100) NULL,
	[Zip] [int] NULL,
	[BusinessId] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SalesData]    Script Date: 11/23/2015 23:16:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesData](
	[BusinessId] [int] NULL,
	[SalesDate] [datetime] NULL,
	[OpeningHours] [int] NULL,
	[ClosingHours] [int] NULL,
	[Temperature] [int] NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sales] [int] NULL,
	[NoOfEmployee] [int] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[LoginDetails] ON 

INSERT [dbo].[LoginDetails] ([Userid], [Password], [FirstName], [LastName], [City], [Zip], [BusinessId]) VALUES (N'mkvalluri.pub@gmail.com', N'password', N'Murali', N'Valluri', N'CHICAGO', 60607, 1)
INSERT [dbo].[LoginDetails] ([Userid], [Password], [FirstName], [LastName], [City], [Zip], [BusinessId]) VALUES (N'test@gmail.com', N'123', N'test', N'test', N'test', 123, 2)
INSERT [dbo].[LoginDetails] ([Userid], [Password], [FirstName], [LastName], [City], [Zip], [BusinessId]) VALUES (N'summyfeb12@gmail.com', N'123', N'Sumanth', N'P', N'Chicago', 60607, 3)
SET IDENTITY_INSERT [dbo].[LoginDetails] OFF
SET IDENTITY_INSERT [dbo].[SalesData] ON 

INSERT [dbo].[SalesData] ([BusinessId], [SalesDate], [OpeningHours], [ClosingHours], [Temperature], [Id], [Sales], [NoOfEmployee]) VALUES (1, CAST(N'2014-01-01 00:00:00.000' AS DateTime), 8, 15, 19, 1, 168, 3)
INSERT [dbo].[SalesData] ([BusinessId], [SalesDate], [OpeningHours], [ClosingHours], [Temperature], [Id], [Sales], [NoOfEmployee]) VALUES (1, CAST(N'2014-01-02 00:00:00.000' AS DateTime), 9, 15, 14, 2, 155, 3)
INSERT [dbo].[SalesData] ([BusinessId], [SalesDate], [OpeningHours], [ClosingHours], [Temperature], [Id], [Sales], [NoOfEmployee]) VALUES (1, CAST(N'2014-01-03 00:00:00.000' AS DateTime), 8, 11, 9, 3, 143, 2)
GO
SET IDENTITY_INSERT [dbo].[SalesData] OFF
/****** Object:  StoredProcedure [dbo].[usp_InsertUserDetails]    Script Date: 11/23/2015 23:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_InsertUserDetails](@UserId varchar(100),@Password varchar(100),@FirstName varchar(100),@LastName varchar(100),@City varchar(100),@Zip int,@ret int out)
as 
begin
if exists(select * from LoginDetails where Userid=@UserId)
begin
set @ret=-100
end
else
begin
set @ret=1
insert into LoginDetails values(@UserId,@Password,@FirstName,@LastName,@City,@Zip)
end
end

GO
/****** Object:  StoredProcedure [dbo].[usp_SalesData]    Script Date: 11/23/2015 23:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc [dbo].[usp_SalesData](@BusinessId int,@SalesDate datetime=null,@Sales int=null,@NoOfStaff int=null,@OpeningHours int=null,@ClosingHours int=null,@Temp int=null,@Type varchar(10))      
as       
begin      
if(@Type='Insert')      
begin      
if exists(select * from SalesData where BusinessId = @BusinessId and SalesDate = @SalesDate)
begin
	update SalesData set OpeningHours =  @OpeningHours, ClosingHours =  @ClosingHours, Temperature = @Temp, Sales = @Sales, NoOfEmployee = @NoOfStaff where BusinessId = @BusinessId and SalesDate = @SalesDate 
end      
else
begin
	insert into SalesData values(@BusinessId,@SalesDate,@OpeningHours,@ClosingHours,@Temp,@Sales,@NoOfStaff)      
end
end
if(@Type='Get')    
begin    
select * from SalesData where BusinessId=@BusinessId    
end      
end

GO
/****** Object:  StoredProcedure [dbo].[usp_VerifyDetails]    Script Date: 11/23/2015 23:16:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_VerifyDetails](@username varchar(100),@pwd varchar(100),@verificationType varchar(20),@BId int  out)      
as      
begin     
set @BId=-100    
if(@verificationType='SignUp')  
begin  
if not exists(select * from LoginDetails where Userid=@username)  
begin
set @BId=0
end  
else
begin
set @BId=-1
end
end   
if(@verificationType='Login')      
begin      
if exists(select * from LoginDetails where Userid=@username and Password=@pwd)      
begin      
select @BId=BusinessId from LoginDetails where Userid=@username and Password=@pwd    
select 1      
end      
end      
end

GO
USE [master]
GO
