
@{
    ViewBag.Title = "Index";
}

 <!--Our Team-->
<div class="col-md-12 section" id="team">
    <div class="text-vertical-center">
        <p>
            <h1>Our Team</h1>
            <h4><b>Aravind Achanta (aachan3@uic.edu)</b></h4>
            <h4><b>Yonathon Gordon (ygordo2@uic.edu)</b></h4>
            <h4><b>Spoorthi Pendyala (npendy2@uic.edu)</b></h4>
            <h4><b>Sai Priya Jyothula (sjyoth2@uic.edu)</b></h4>
            <h4><b>Sumanth Reddy P (spandu3@uic.edu)</b></h4>
            <h4><b>V S S Dilip Raju (vvakka2@uic.edu)</b></h4>
        </p>
    </div>
</div>

