
@{
    ViewBag.Title = "Index";
}

    <!--About Section-->
<div class="col-md-12 section" id="about">
    <h1>About</h1>
    <h3><p class="lead">Do the daily sales in your business depend on weather? Do you want expert help to analyze your business data and provide you with sales predictions for your business? You have come to the right place! Welcome to SkyGraph – a project dedicated to that purpose. Just sign up <a href="#services">here</a>, upload your past business data and our team will do your work for you.</p></h3>
    <h3><p class="lead">SkyGraph analyzes your uploaded sales data, provides you with the visual representation of your data in the form of a bar chart (temperature as the base line and corresponding sales represented with length of the bars) and predicts your sales based on the expected weather. Let’s get started!!</p></h3>
</div>


