<div id="home">
    <!-- Header -->
    <header class="home-text">
        <div class="text-vertical-center">
            <h1>SkyGraph</h1>
            <h3>Welcome to SkyGraph - A simple way to realize your business to its full potential</h3>
            <br>
        </div>
    </header>
</div>
